.user-profile-container {
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Optional: Adjust the margin based on your design */
  }
  
  button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
  }
  
  /* Add any additional styling as needed */
  